data/*
agp-data/*
base-model/*
base-model-*/*
data/*
paper/*
pcoa/*
veg-prediction/*
hazel/*
*.ipynb
.Trash-0
amplicon_gpt/__pycache__/*
amplicon_gpt/.ipynb_checkpoints/*
shu-aging/*
core.*
aam/__pycache__/*
aam/.ipynb_checkpoints/*
aam/.DS_Store
attention_regression/data/*
attention_regression/.ipynb_checkpoints/*
attention_regression/__pycache__/*
american-gut-redbiom
agp-health-16S-data
diet
diet-model-w-pre
foundation-model
foundation-model-2
foundation-model-healthy-stool
foundation-model-new
foundation-model-new-2
foundation-model-standalone
foundation-model-standalone-current
foundation-model-standalone-old
gotu_data
logs
miscrosoft-proj
research-exam
sepsis/data
sepsis-trial-figures
sepsis-trial-model
session
__pycache__
